<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidLearned"
        tools:targetApi="31">
        <activity
            android:name=".ui.home.activitys.TabsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.BannerWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.OtherWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.SeekBarWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.BottomSheetWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.ToastActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.DialogActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.BadgeDrawableActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.SnackbarWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.ProgressIndicatorsWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.NavigationDrawActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.MenusWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.navigationWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.FabWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.ChipsWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.SwitchWidgetActivity"
            android:exported="false"
            android:theme="@style/Theme.AndroidLearned" />
        <activity
            android:name=".ui.home.activitys.CheckBoxWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.RadioButtonWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.EditTextWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.ImageViewWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.TextViewWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.ButtonWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.CoordinationLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>