<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 闹钟 -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidLearned"
        tools:targetApi="34">
        <activity
            android:name=".ui.me.acticitys.AudioPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.center.activitys.ShortcutsPracticeActivity"
            android:exported="true"
            android:launchMode="standard" />
        <activity
            android:name=".ui.center.activitys.NetworkPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.center.activitys.GlidePracticeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.center.activitys.RoomPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.center.activitys.WorkManagerPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.center.activitys.AnimationPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.center.activitys.CustomViewPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.center.activitys.GesturePracticeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.center.activitys.TouchPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.center.activitys.LocalStorageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.center.activitys.FileIOActivity"
            android:exported="false" />
        <activity
            android:name=".ui.center.activitys.ContentProviderPracticeActivity"
            android:exported="false" />

        <provider
            android:name=".contentProvider.MyContentProvider"
            android:authorities="com.xtguiyi.provider"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".broadcasts.MyBroadcast1Receiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcasts.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.center.activitys.BroadcastPracticeActivity"
            android:exported="false" />

        <service
            android:name=".services.MyService1"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.MyService2"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <service
            android:name=".services.MyService3"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.center.activitys.ServicePracticeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.center.activitys.AsynchronousPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.center.activitys.FragPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.center.activitys.AcPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.center.activitys.SoftKeyboardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.center.activitys.NotificationManageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.center.activitys.AuthorizationManageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.center.activitys.WindowManageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.center.activitys.SystemBarManageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.RecycleViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.ViewPageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.TabsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.BannerWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.OtherWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.SeekBarWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.BottomSheetWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.ToastActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.DialogActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.BadgeDrawableActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.SnackbarWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.ProgressIndicatorsWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.NavigationDrawActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.MenusWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.navigationWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.FabWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.ChipsWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.SwitchWidgetActivity"
            android:exported="false"
            android:theme="@style/Theme.AndroidLearned" />
        <activity
            android:name=".ui.home.activitys.CheckBoxWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.RadioButtonWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.EditTextWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.ImageViewWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.TextViewWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.ButtonWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.activitys.CoordinationLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
    </application>

</manifest>